<h1>Forgot your password</h1>
<h1><%= @user.name %>, click to update your password</h1>
<a href="http://www.pawfol.io/api/v1/password/<%= @user.password_reset_token %>">Click to reset your password</a>
